Marketing AI Image.json
{
  "name": "Marketing AI Image",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "=gpt-4.1-mini",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "content": "=Create a professional marketing caption (max 500 characters) for the product:\n{{$json.user_input}}\n\nInclude:\n- Offer: Flat 50% OFF\n- Tone: Trendy but professional\n- Add 3–5 hashtags\n- No emojis overload"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -240,
        -16
      ],
      "id": "bd75bb07-5c3d-4033-a81b-824cf1b9f9af",
      "name": "Caption",
      "credentials": {
        "openAiApi": {
          "id": "zMESYdBIUIgah9CK",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Create a modern Instagram marketing image for \n{{ $json.output[0].content[0].text }} .\nStyle: clean, attractive.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        16,
        -16
      ],
      "id": "61f8fd15-3aa8-425e-8b8b-1bde3a12eb32",
      "name": "Image",
      "credentials": {
        "openAiApi": {
          "id": "zMESYdBIUIgah9CK",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1003749729704",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $('Caption').item.json.output[0].content[0].text }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        -16
      ],
      "id": "031e1c5f-9575-49a6-8163-834abb84a762",
      "name": "Photo",
      "webhookId": "a9d18011-f070-47c6-93db-a0c70b4bfabc",
      "credentials": {
        "telegramApi": {
          "id": "aTi84dWJAnp9oyIr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -976,
        0
      ],
      "id": "96906776-c90a-494c-ac35-15d7cc834105",
      "name": "Telegram Trigger",
      "webhookId": "ab67a3ab-94a8-4ee2-a028-5c7e1a5195ba",
      "credentials": {
        "telegramApi": {
          "id": "aTi84dWJAnp9oyIr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80dd77f7-69e8-4f9d-a7b0-6dcbb2b1c3b4",
              "name": "user_input",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "6d46c8d6-218b-45be-8206-d1a615a1a896",
              "name": "chat_id",
              "value": "={{ $json.message.chat }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        0
      ],
      "id": "a111324a-f563-447b-bf5c-637f9aedd2d5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1457ac23-3252-44f7-878a-b1e773c60c19",
              "leftValue": "={{ $json.user_input }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        0
      ],
      "id": "780987a0-f82d-4935-88ce-73b697c2f0f5",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "Caption": {
      "main": [
        [
          {
            "node": "Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image": {
      "main": [
        [
          {
            "node": "Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "955c3569-4fa3-4e8f-b176-5fb74669e0ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a421e3cb25f2c6f84478380aa435876136c199adf04d745c78c9060326c0d19"
  },
  "id": "NiOXXJw0KVs9yPDjtvqTS",
  "tags": []
}